@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* Global Styles 
*/
@layer base {
    body {
        /* Smooth transition for theme switching */
        transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
    }
}